.sidebar {
	background: rgb(0, 0, 0);
	color: #fff;
	height: calc(100svh - 40px);
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 250px;
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
}

a {
	color: #fff;
}

.sidebar-nav__link {
	color: #fff;
	padding: 5px;
	border-radius: 5px;

	&:hover {
		background: rgba(255, 255, 255, 0.1);
	}

	&--active {
		background: rgba(255, 255, 255, 0.2);
	}
}

.logout-btn {
	background: rgb(159, 38, 38);
	padding: 0.625rem;
	border-radius: 10px;
	margin-top: auto;
	transition: background-color 0.2s;

	&:hover {
		background: rgb(227, 50, 50);
	}
}

@media screen and (width < 800px) {
	.sidebar {
		display: none;
	}
}
