.technology-products-container {
	padding: 110px 20px 0;
}

.technology__title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.technology__icon-container {
	background: rgb(0, 0, 0);
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.product-container {
	// background: rgba(255, 255, 255, 0.1);
	background: #f3f3f3;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	aspect-ratio: 1/1;
	border-radius: 10px;
	min-height: 0;
	cursor: pointer;
	color: #333;
	transition: transform 0.25s ease;

	&:hover {
		.product-icon-wrapper {
			transform: rotate(45deg);
		}
	}

	img {
		min-height: 0;
		object-fit: contain;
	}
}

.technology-products-swiper {
	padding: 20px;
}
