@use "@/scss/mixins" as *;

.technology-products-container {
	padding: 110px 20px 0;
}

.technology__title {
	@include flex-start-center;
	gap: 10px;
}

.technology__icon-container {
	background: #000;
	padding: 10px;
	@include flex-center;
	gap: 5px;
	border-radius: 10px;
}

.product-container-link {
	background: #f3f3f3;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	aspect-ratio: 1/1;
	border-radius: 10px;
	min-height: 0;
	cursor: pointer;
	color: #000 !important;
	transition: transform 0.25s ease;

	&:hover {
		.product-icon-wrapper {
			transform: rotate(45deg);
		}
	}

	img {
		min-height: 0;
		object-fit: contain;
	}
}

.technology-products-swiper {
	padding: 20px;
}
