.footer {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
}

.footer__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;

	span {
		font-size: 24px;
	}
}

.footer__author {
	padding-top: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 10px;
}

.footer-nav__link {
	display: block;
	position: relative;
	padding-left: 10px;
	color: rgba(255, 255, 255, 0.5) !important;
	transition: color 0.24s;

	&::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 2px;
		left: 0;
		background: rgba(255, 255, 255, 0.478);
	}

	&::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 2px;
		left: 0;
		background: #fff;
		transform: scaleY(0);
		transform-origin: bottom;
		transition: transform 0.24s;
	}

	&:hover {
		color: #fff !important;

		&::after {
			transform: scaleY(1);
		}
	}

	&--active {
		color: #fff !important;

		&::after {
			transform: scaleY(1);
		}
	}
}

.footer__divider {
	height: 2px;
	width: 100%;
	background: var(--semi-tp-white-clr);
}
