.pag-btn {
	border-radius: 10px;
	padding: var(--space-8);
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
	background: var(--bg-clr);
	padding: 10px;

	&:hover {
		background: #000;
		color: #fff;
	}

	&--active {
		background: #000;
		color: #fff;
	}
}
