.login-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	height: 100svh;
	padding: 1rem;
}

.login-form {
	background: #000;
	padding: 1.25rem;
	border-radius: 25px;
	width: min(100%, 500px);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.login-input-container {
	display: flex;
	flex-direction: column;

	label {
		color: #fff;
	}

	input {
		border: 2px solid hsl(0, 0%, 20%);
		padding: 0.5rem;
		border-radius: 10px;
		color: #fff;
	}
}

.login-submit-btn {
	background: #ffffff;
	color: #000000;
	padding: 0.5rem;
	border-radius: 10px;
}
