.programming-services {
	padding: 20px;
	width: min(100%, 2560px);
	margin: 0 auto;
}

.programming-services-container {
	display: flex;
	gap: 10px;
}

.programming-services-container-inner {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.programming-services__link {
	background: #fff;
	color: #000 !important;
	border-radius: 10px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
	padding: 10px;

	img {
		width: 75%;
	}
}

.programming-services__link-btn {
	border-radius: 10px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	background: var(--secondary-clr);
	padding: 10px;
	flex-grow: 0;
}

@media screen and (width < 900px) {
	.programming-services-container-inner {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (width < 600px) {
	.programming-services-container {
		flex-direction: column;
	}
}
