.section {
	min-height: 100svh;
	padding: 20px;
	background: #333;
}

.img-wrapper {
	position: relative;
	overflow: hidden;
}

.img {
	border-radius: 10px;
	clip-path: inset(0% 100% 100% 0%);
	animation: animateImg 1.5s forwards cubic-bezier(0.4, 0.8, 0.2, 1);
}

@keyframes animateImg {
	to {
		clip-path: inset(0%);
	}
}
