@use "./reset";

body {
	font-family: "Poppins", sans-serif;
	background: #fff;
	color: #000;
	padding-top: 60px;
}

.main {
	min-height: 100svh;
	padding: 10px;
}

.table {
	// width: 100%;
	border-collapse: collapse;

	td {
		width: 1%; // shrink to fit content
		white-space: nowrap; // prevent text wrapping when squeezed
		padding: 10px 5px;
		border-bottom: 2px solid hsl(0, 0%, 90%);
	}

	thead {
		position: sticky;
		top: 60px;
		z-index: 1;
		background: rgba(255, 255, 255, 0.8);
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);

		th {
			text-align: left;
			width: 1%; // shrink to fit content
			white-space: nowrap; // prevent text wrapping when squeezed
			padding: 10px 5px;
		}
	}
}

.banner {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: #fff;
	border: 2px solid hsl(0, 0%, 90%);
	padding: 20px;
	width: min(100%, 500px);
	opacity: 0;
	pointer-events: none;
}

.banner--visible {
	opacity: 1;
	pointer-events: auto;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.input {
	padding: 5px;
	border-radius: 5px;
	width: 100%;
	border: 2px solid hsl(0, 0%, 90%);
}

.close-btn {
	padding: 5px;
	border-radius: 5px;
	background: rgb(255, 221, 214);
}

.form__submit-btn {
	padding: 5px;
	border-radius: 5px;
	background: rgb(218, 249, 159);
}

.curtain {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 2;
	opacity: 0;
	pointer-events: none;

	&--active {
		opacity: 1;
		pointer-events: auto;
	}
}

.delete-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(255, 221, 214);
	padding: 5px;
	border-radius: 5px;
	color: rgb(255, 75, 75);
	width: max-content;
}

.edit-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(255, 242, 188);
	padding: 5px;
	border-radius: 5px;
	color: rgb(255, 162, 0);
	width: max-content;
}

.save-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(218, 249, 159);
	padding: 5px;
	border-radius: 5px;
	color: rgb(110, 150, 0);
	width: max-content;
}
