.product-page {
	background: var(--bg-clr);
}

.product-page-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background: #fff;
	padding: 0.75rem;
	border-radius: 10px;
	color: #000;
	justify-content: center;
}

@media screen and (width < 800px) {
	.product-page-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
