.product-page {
	background: var(--bg-clr);
}

.product-page__title {
	font-size: clamp(1.5rem, 4vw, 2rem);
	font-weight: 500;
	margin-bottom: 10px;
}

.product-page-container {
	display: flex;
	background: #fff;
	padding: 2.5rem;
	border-radius: 10px;
	color: #000;
	justify-content: center;
	align-items: flex-start;
}

@media screen and (width < 900px) {
	.product-page-container {
		flex-direction: column;
	}

	.product-page-container {
		padding: 1.25rem;
	}
}
