.scroll-to-top-btn {
	position: fixed;
	right: 10px;
	bottom: 60px;
	z-index: 2;
	background: rgba(0, 0, 0, 0.2);
	-webkit-backdrop-filter: blur(25px);
	backdrop-filter: blur(25px);
	width: 40px;
	aspect-ratio: 1/1;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	scale: 0;
	pointer-events: none;
	transition:
		opacity 0.3s,
		scale 0.3s;

	&--visible {
		opacity: 1;
		scale: 1;
		pointer-events: auto;
	}
}
