.section {
	min-height: 100svh;
	padding: 20px;
	background: #333;
	display: flex;
	flex-direction: column;
}

.section__title {
	position: relative;
	font-size: 2rem;
	font-weight: 500;
	border-left: 2px solid white;
	padding-left: 5px;
	margin-bottom: 20px;
	margin-top: 80px;
}

.img-wrapper {
	position: relative;
	overflow: hidden;
}

.img {
	border-radius: 10px;
	clip-path: inset(0% 100% 100% 0%);
	animation: animateImg 1.5s forwards cubic-bezier(0.4, 0.8, 0.2, 1);
}

@keyframes animateImg {
	to {
		clip-path: inset(0%);
	}
}

.what-we-do {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 500px;
}

.what-we-do-container {
	position: sticky;
	top: 148px;
	display: flex;
	align-items: flex-start;
	gap: 40px;
	background: #fff;
	color: #333;
	height: calc(100svh - 148px - 20px);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);

	&:nth-of-type(even) {
		flex-direction: row-reverse;
	}
}

.brands {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;

	p {
		font-size: 1.5rem;
		padding: 10px;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 5px;
	}
}

@media screen and (width < 1200px) {
	.products-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (width < 900px) {
	.what-we-do-container {
		flex-direction: column !important;
		justify-content: space-between;
		gap: 20px;
	}

	.products-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (width < 600px) {
	.products-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
