.section {
	min-height: 100svh;
	padding: 20px;
	background: #333;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section__title {
	position: relative;
	font-size: 2rem;
	font-weight: 500;
	border-left: 2px solid white;
	padding-left: 5px;
	margin-bottom: 20px;
}

.img-wrapper {
	position: relative;
	overflow: hidden;
}

.img {
	border-radius: 10px;
	clip-path: inset(0% 100% 100% 0%);
	animation: animateImg 1.5s forwards cubic-bezier(0.4, 0.8, 0.2, 1);
}

@keyframes animateImg {
	to {
		clip-path: inset(0%);
	}
}

.what-we-do {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.what-we-do-container {
	position: sticky;
	top: 138px;
	display: flex;
	align-items: flex-start;
	gap: 40px;
	background: #fff;
	color: #333;
	height: calc(100svh - 138px - 20px);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);

	&:nth-of-type(even) {
		flex-direction: row-reverse;
	}
}

.technology {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	cursor: pointer;
	transition: background-color 0.25s ease;

	&:hover {
		background: rgba(255, 255, 255, 0.15);

		.technology__img-wrapper {
			img {
				transform: scale(1.1);
			}
		}
	}
}

.technology__img-wrapper {
	min-height: 0;
	display: flex;
	border-radius: 10px;
	overflow: hidden;

	img {
		aspect-ratio: 1/1;
		max-height: 100%;
		object-fit: cover;
		object-position: center;
		width: 100%;
		pointer-events: none;
		user-select: none;
		transition: transform 0.5s ease;
	}
}

.technology__title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.technology__icon-container {
	background: rgb(0, 0, 0);
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.mySwiper {
	padding-bottom: 40px !important;
	overflow: visible !important;

	.swiper-pagination {
		display: flex;
		gap: 5px;
		justify-content: center;
	}

	.custom-bullet {
		width: min(100%, 50px);
		height: 2px;
		border-radius: 0;
		background: rgba(255, 255, 255, 0.1);
		opacity: 1;
		position: relative;
		cursor: pointer;

		&:hover {
			background: rgba(255, 255, 255, 0.15);
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			transform: scaleX(0);
			transform-origin: left;
			background: white;
			border-radius: 2px;
			border-radius: 0;
		}
	}

	// Active bullet fills up over delay duration
	.swiper-pagination-bullet-active {
		&::after {
			animation: fillBullet 5000ms linear forwards; // match your delay
		}
	}
}

@keyframes fillBullet {
	to {
		transform: scaleX(1);
	}
}

.custom-bullet--filled {
	&::after {
		transform: scaleX(1) !important;
		animation: none !important; // stop animation, just stay full
	}
}

.brands {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;

	p {
		font-size: 1.5rem;
		padding: 10px;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 5px;
	}
}

@media screen and (width < 1200px) {
	.products-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (width < 900px) {
	.what-we-do-container {
		flex-direction: column !important;
		justify-content: space-between;
	}

	.technology {
		padding: 10px;
	}

	.products-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (width < 600px) {
	.products-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
