@use "./reset";

:root {
	--bg-clr-base: #000;
	--bg-clr: #333;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-poppins);
	background: var(--bg-clr-base);
	color: #fff;
}

.section {
	min-height: 100svh;
	padding: 20px;
	background: #333;
	display: flex;
	flex-direction: column;
}

.section__title {
	position: relative;
	font-size: 2rem;
	font-weight: 500;
	border-left: 2px solid white;
	padding-left: 5px;
	margin-bottom: 20px;
	margin-top: 80px;
}
