@use "./reset";
@use "./variables";

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-poppins);
	background: var(--bg-clr-base);
	color: #fff;
}

.section {
	min-height: 100svh;
	padding: 20px;
	background: #333;
	display: flex;
	flex-direction: column;
}

.section__title {
	position: relative;
	font-size: 2rem;
	font-weight: 500;
	border-left: 2px solid white;
	padding-left: 5px;
	margin-bottom: 20px;
	margin-top: 80px;
}

.link {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		height: 2px;
		width: 100%;
		left: 0;
		bottom: 0;
		background: rgba(255, 255, 255, 0.478);
	}

	&::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 100%;
		left: 0;
		bottom: 0;
		background: #fff;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.24s;
	}

	&:hover {
		color: #fff;

		&::after {
			transform: scaleX(1);
		}
	}
}
